.play-btn{
    font-family: 'Irish Grover';
}

.subtitle,
.game-instruction,
#round-txt,
#win-points,
#loss-points {
    font-family: 'Michroma';
}
.counter-numbers {
    font-family: 'Michroma';
}

#time{
    text-align: center;
    width: 100px;
    height: 60px;
    margin: auto;
    opacity: 0%;
}

